
<h2><%= @task.title %></h2>

<p><%= @task.details %></p>
<input type="checkbox" name="completed" value='<%= @task.completed %>' <%= 'checked' if @task.completed %>> Completed ?
<br>
<a><%= link_to 'edit task', edit_path %></a>
<br>
<a><%= link_to '< back to list', tasks_path %><a/>
